body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:174px;
  width:377px;
  height:669px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:62px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:174px;
  width:377px;
  height:62px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:203px;
  width:69px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:427px;
  width:35px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:199px;
  width:25px;
  height:31px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:607px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:236px;
  width:377px;
  height:607px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:72px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:174px;
  width:377px;
  height:669px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:62px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:174px;
  width:377px;
  height:62px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:203px;
  width:69px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:427px;
  width:35px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:199px;
  width:25px;
  height:31px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:607px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:236px;
  width:377px;
  height:607px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:154px;
  height:31px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:445px;
  width:139px;
  height:5px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:72px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:175px;
  width:377px;
  height:669px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:175px;
  width:377px;
  height:669px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:706px;
  height:290px;
}
#u91p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:259px;
  width:148px;
  height:10px;
}
#u91p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:10px;
}
#u91p001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:125px;
  width:276px;
  height:14px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u91p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:14px;
}
#u91p002 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-7px;
  width:526px;
  height:18px;
  -webkit-transform:rotate(1deg);
  -moz-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg);
}
#u91p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:18px;
}
#u91p003 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:115px;
  width:288px;
  height:56px;
  -webkit-transform:rotate(-99deg);
  -moz-transform:rotate(-99deg);
  -ms-transform:rotate(-99deg);
  transform:rotate(-99deg);
}
#u91p003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:56px;
}
#u91p004 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:261px;
  width:8px;
  height:6px;
}
#u91p004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u91p005 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:257px;
  width:34px;
  height:34px;
  -webkit-transform:rotate(-178deg);
  -moz-transform:rotate(-178deg);
  -ms-transform:rotate(-178deg);
  transform:rotate(-178deg);
}
#u91p005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u91.compound {
  width:0px;
  height:0px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:51px;
  width:691px;
  height:275px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:62px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:175px;
  width:377px;
  height:62px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:203px;
  width:69px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
