body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:102px;
  width:377px;
  height:669px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:355px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:105px;
  width:371px;
  height:355px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:367px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:317px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:454px;
  width:375px;
  height:317px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
